<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="Style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <div class="container">
        <div class="boot border border-2 mt-3 p-5 mb-3">
            <h1 id="title">Bootstrap Templete</h1>
          </div>
          <div class="row">
            
          <div class="container col-sm-6 text-center">
           
              <h3 class="heading">Heading</h3>
              <p class="lorem">
                Lorem ipsum dolor sit amet consectetur,adipisicing elit. Eaque
                inventore pariatur unde quos dignissimos eos quod, magnam modi,odio
                eligendi est reiciendis asperiores tempora quaerat nesciunt in dolor?
                Tempora, exercitationem? Lorem ipsum dolor sit amet consectetur
                Lorem ipsum dolor sit amet consectetur,adipisicing elit. Eaque
                inventore pariatur unde quos dignissimos eos quod, magnam modi,odio
                eligendi est reiciendis asperiores tempora quaerat nesciunt in dolor?
                Tempora, exercitationem? Lorem ipsum dolor sit amet consectetur
              </p>
              <button class="btn btn-primary dropdown-toggle btn-sm"data-bs-toggle="dropdown">Click Button</button>
              <button class="btn btn-success btn-sm">Click Anchor</button>
              <button class="btn btn-info btn-sm">Click Input</button>
          </div>
             <div class="d-none d-sm-block col-sm-6">
              <img src="Images/1.png" />
             </div>
          </div>

          <div class="row">
            <div class="col-12 col-sm-4 text-center">
              <i class="fa-sharp fa-solid fa-envelope text-danger fa-3x "></i>
              <h3>This is Part 1 <span class="badge bg-success">New</span></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Dolores tenetur at doloremque, eius et fugit est cumque magnam alias
                  consequuntur soluta corrupti aspernatur eum! Ut, quibusdam. 
                  Nulla quaerat labore doloremque consequuntur soluta corrupti aspernatur eum! Ut, 
                  quibusdam Nulla quaerat labore doloremque.
                </p>
            </div>

            <div class="col-6 col-sm-4">
              <i class="fa-sharp fa-solid fa-pen text-danger fa-3x "></i>
              <h3>This is Part 2 <i class="fa-solid fa-circle-arrow-left text-secondary "></i></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Dolores tenetur at doloremque, eius et fugit est cumque magnam alias
                
                </p>
              </div>

            <div class="col-6 col-sm-4">
              <i class="fa-solid fa-cloud text-danger fa-3x"></i>
              <h3>This is Part 3</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Dolores tenetur at doloremque, eius et fugit est cumque magnam alias
                  consequuntur soluta corrupti aspernatur eum! Ut, quibusdam. 
                  Nulla quaerat labore doloremque consequuntur soluta corrupti aspernatur
                   eum! Ut, quibusdam Nulla quaerat labore doloremque.
              </p>
            </div>
          </div>        
        </div>
      
   
  </body>
</html>
